.platform-diagram
  flex: 1
  max-height: 320px
  font-family: $title-font

  .nerv-app
    fill: $white

  .nerv-api
    .nerv-api-icon
      fill: $white
    .nerv-api-circle
      stroke: $white

  .nerv-dashboard
    fill: $white

  .connectors
    stroke: blue-grey(400)
