.remote-control-diagram

  .connector
    stroke: grey(700)

  text
    font-size: 15px
    fill: white(0%)
    transition-property: fill
    transition-duration: 1s
    transition-timing-function: ease-in
    &.caption-1
      transition-delay: 1s
    &.caption-2
      transition-delay: 4s
    &.caption-3
      transition-delay: 7s

  &.visible
    text
      fill: white(100%)
