.col

  &.col-text
    padding: 5rem

  &.col-browser
    display: flex
    flex-direction: column
    justify-content: flex-end
    padding: 5rem 0 0 5rem

  &.col-flex
    display: flex
    flex-direction: column
