.feature
  flex: 1
  display: flex

  .feature-icon
    height: 36px
    width: 36px
    padding: 8px
    background: $black
    border: 2px solid
    border-radius: 50%

    for $name in $color-names
      &.{$name}
        fill: lookup-color($name, 500)
        border-color: lookup-color($name, 500)

  .feature-content
    margin-left: 20px