.section
  min-height: 300px

  for $name in $color-names
    &.{$name}
      background: lookup-color($name, 800)

  h3
    font-size: 4rem
    font-weight: 200
    margin: 0 0 3rem 0

  ol, ul
    margin: 0
    padding: 0

  li
    margin: 0