.splash-text
  position: absolute
  width: 100vw
  height: 100vh
  display: flex
  align-items: center
  justify-content: center

  h1
    position: absolute
    font-family: $title-font
    font-weight: 700
    font-size: 18vh
    text-transform: uppercase
    text-align: center
    margin: 0px
    color: $white
    text-shadow: -5px -5px 20px $black, 5px -5px 20px $black, -5px 5px 20px $black, 5px 5px 20px $black
    transform: skew(-5deg, 0deg)

  a
    position: absolute
    bottom: 0
    width: 100%
    text-align: center
    color: $white
    text-decoration: none
    padding-top: 100px
    background: linear-gradient(
      alpha($black, 0%) 0%,
      alpha($black, 90%) 40%
    )
    h2
      font-size: 32px
      font-weight: 300
      line-height: 1.2em
    .arrow
      margin-top: 10px
      font-size: 26px
      bounce(2s)
