html, body, #root
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  overflow: hidden
  background: $black
  font-family: $font

.app
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  align-items: center

h1
  font-family: $title-font
  font-size: 7.5vw
  text-transform: uppercase
  text-align: center
  margin: 0px

h2
  font-size: 26px
  margin: 10px 0 0 0
  text-align: center
  display: none

.splash
  display: flex
  height: 100vh
  align-items: center
  justify-content: center

.splash-text
  position: absolute
  color: $white

.splash-animation
  position: absolute
  display: flex
  width: 100vw
  height: 100vh
  align-items: center
  justify-content: center

  .ring0
    position: absolute
    width: 50vw
    height: 50vh
    fill: $teal
    transform-origin: 50% 50%
    animation: spin-cw 10s infinite linear

  .ring1
    position: absolute
    width: 70vw
    height: 70vh
    fill: $red
    transform-origin: 50% 50%
    animation: spin-ccw 10s infinite linear

  .ring2
    position: absolute
    width: 90vw
    height: 90vh
    fill: $teal
    transform-origin: 50% 50%
    animation: spin-cw 10s infinite linear

  .reticle
    position: absolute
    width: 100vw
    height: 100vh
    fill: lightness($teal, 15%)

  .wave0
    position: absolute
    width: 70vw
    height: 70vh
    fill: $teal

  .circuit0
    position: absolute
    width: 50vw
    height: 50vh
    fill: lightness($teal, 40%)

  .circuit1
    position: absolute
    width: 50vw
    height: 50vh
    fill: lightness($red, 40%)

  .boxes
    position: absolute
    width: 120vw
    height: 120vh
    fill: $red
    transform-origin: 50% 50%
    animation: spin-ccw 20s infinite linear

@keyframes spin-cw {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}

@keyframes spin-ccw {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(-360deg);}
}