html, body, #root
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  overflow: hidden
  background: #000000 url('~assets/background.jpg')
  background-size: cover
  background-position: center center

.app
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  color: #ffffff
  font-family: $font

h1
  font-family: $title-font
  font-size: 42px
  text-transform: uppercase
  text-align: center
  margin: 0px

h2
  font-size: 26px
  margin: 10px 0 0 0
  text-align: center

.brain
  width: 140px
  height: 140px

  path
    fill: #ffffff
